{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>WoW Arbitrage Scanner</title>

    <link rel="stylesheet" href="{% static 'market/css/home.css' %}">
</head>

<body>

<h1>🪙 WoW Auction Arbitrage</h1>

{% if snapshots %}
<table>
    <thead>
        <tr>
            <th>Item</th>
            <th>Buy Realm</th>
            <th>Buy Price</th>
            <th>Sell Realm</th>
            <th>Sell Price</th>
            <th>Profit</th>
        </tr>
    </thead>

    <tbody>
        {% for s in snapshots %}
        <tr>
            <td>{{ s.item.name }}</td>
            <td class="realm">{{ s.best_buy_realm.name }}</td>
            <td>{{ s.buy_price }} g</td>
            <td class="realm">{{ s.best_sell_realm.name }}</td>
            <td>{{ s.estimated_sell_price }} g</td>
            <td class="profit">{{ s.profit }} g</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% else %}
<p>No arbitrage data available yet.</p>
{% endif %}

</body>
</html>


<form method="post" action="{% url 'update_auctions' %}">
    {% csrf_token %}
    <button type="submit">🔄 Update Auctions</button>
</form>


<div id="progress-box">
    <p>⏳ Estado: <span id="state">Idle</span></p>
    <p>🌍 Reino actual: <span id="current">-</span></p>
    <p>📊 Progreso: <span id="done">0</span>/<span id="total">0</span></p>
    <p>⏱️ Tiempo: <span id="elapsed">0</span>s</p>
    <p>⌛ ETA: <span id="eta">0</span>s</p>
</div>
<script>
function updateStatus() {
    fetch("{% url 'auction_status' %}")
        .then(r => r.json())
        .then(data => {
            if (!data.running) {
                document.getElementById("state").innerText = "Idle";
                return;
            }

            document.getElementById("state").innerText = "Running";
            document.getElementById("current").innerText = data.current;
            document.getElementById("done").innerText = data.done;
            document.getElementById("total").innerText = data.total;
            document.getElementById("elapsed").innerText = data.elapsed;
            document.getElementById("eta").innerText = data.eta;
        });
}

setInterval(updateStatus, 2000);
</script>
